.section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 50px;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.actions {
  display: flex;
  gap: 10px 30px;
  width: 100%;
  margin-top: 20px;
}

.react-icon,
.icon-wrapper {
  width: 512px;
  height: 512px;
  color: var(--info);
}

@media (width <= 1280px) {
  .section {
    align-items: center;
  }

  .react-icon,
  .icon-wrapper {
    width: 384px;
    height: 384px;
  }
}

@media (width <= 1024px) {
  .section {
    flex-direction: column;
    justify-content: center;
  }

  .cta {
    order: 2;
    height: fit-content;
    min-height: 30vh;
  }

  .react-icon,
  .icon-wrapper {
    width: 512px;
    height: 512px;
  }
}

@media (width <= 640px) {
  .react-icon,
  .icon-wrapper {
    width: 384px;
    height: 384px;
  }
}

@media (width <= 512px) {
  .actions {
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .react-icon,
  .icon-wrapper {
    width: 256px;
    height: 256px;
  }
}
