.layout,
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  display: grid;
  gap: 50px;
  grid-template-columns: auto 150px 150px;
  margin-top: 50px;
  padding: 20px;
}

@media (width <= 640px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
