.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;

  height: 100vh;
  margin: 0 auto;
  padding: 0 50px;
}

.skill-cards {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill-carousel {
  width: clamp(350px, 100%, 500px);
  min-height: 60vh;
}

@media (width <= 1280px) {
  .section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (width <= 1024px) {
  .section {
    h1 {
      text-align: center;
    }
  }
}
