.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 50px;
}

.courses {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  overflow-y: auto;
  max-height: 70%;
  padding: 10px;
  view-transition-name: course;
}

.trigger-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list {
  padding: 10px 10px 10px 25px;

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      border: 2px solid var(--text-muted);
      border-radius: 50%;
      transform: translate(-200%, -50%);
      content: '';
    }
  }
}

.course {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.course-wrapper {
  max-height: fit-content;
}

@media (width <= 1024px) {
  .courses {
    padding: 25px;
    border-radius: 10px;
    background: var(--bg-secondary);
  }
}

@media (width <= 768px) {
  .section,
  .courses {
    justify-content: center;
    align-items: center;
  }

  .courses {
    grid-template-columns: 1fr;
    scrollbar-color: transparent transparent;
    width: 100%;
  }
}
