.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px;
}

@media (width <= 768px) {
  .section {
    align-items: center;

    h1 {
      text-align: center;
    }

    button {
      width: 280px;
    }
  }
}
