/* Regular */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./400-regular.woff2') format('woff2');
}

/* Regular Italic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./400-regular-italic.woff2') format('woff2');
}

/* Medium */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./500-medium.woff2') format('woff2');
}

/* Semi Bold */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./600-semi-bold.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./700-bold.woff2') format('woff2');
}
