/*
  breakpoint-2xl: 1536px;
  breakpoint-xl: 1280px;
  breakpoint-lg: 1024px;
  breakpoint-md: 768px;
  breakpoint-sm: 640px;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-wrap: anywhere;
  scrollbar-color: transparent transparent;
  height: 100%;
  hyphens: auto;
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  stroke-width: 2px;
}

::view-transition-old(carousel),
::view-transition-new(carousel) {
  animation-duration: 0.3s;
}

::view-transition-old(carousel) {
  animation-name: slide-out;
}

::view-transition-new(carousel) {
  animation-name: slide-in;
}

@keyframes slide-out {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

::view-transition-old(course),
::view-transition-new(course) {
  animation-duration: 0.3s;
}

::view-transition-old(course) {
  animation-name: appearance-out;
}

::view-transition-new(course) {
  animation-name: appearance-in;
}

@keyframes appearance-out {
  to {
    opacity: 0;
  }
}

@keyframes appearance-in {
  from {
    opacity: 0;
  }
}
