/*
  breakpoint-2xl: 1536px;
  breakpoint-xl: 1280px;
  breakpoint-lg: 1024px;
  breakpoint-md: 768px;
  breakpoint-sm: 640px;
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  overflow-x: hidden;
<<<<<<< HEAD
  overflow-wrap: anywhere;
  height: 100%;
  hyphens: auto;
=======
  height: 100%;
  hyphens: auto;
  -moz-osx-font-smoothing: grayscale;
>>>>>>> 4b737cd (fix: mobile ui. ui enhancements)
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  stroke-width: 2px;
}
